<div class="container" style = "background-image: url('../../assets/images/background2.jpg')">
<div class="brand" style="text-align: center">
<%=  image_tag "chart.jpg" %>
<h2 style= "margin-top: -50px; font-size: 10vw" class="">BUDGET APP</h2>
</div>
<div class= "row" style="text-align: center">
<div class="col">
<%= button_to "LOG IN", new_user_session_path, class: "btn btn-primary mt-4"%> 
</div>
<div class="col">
<%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary mt-4"%>
</div>
</div>
</div>
